body {
    background-color: transparent;
    margin: 0;
    overflow-x: hidden;
}

.synopsis {
    background-image: url(img/bg-new.png);
    background-attachment: fixed;
}

.logo {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    filter: saturate(2);
}

@font-face {
    font-family: 'Persona5Menu';
    src: url('Fonts/Persona5MenuFontPrototype-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Arsenal';
    src: url('Fonts/Arsenal-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Persona5Text';
    src: url('Fonts/Persona-5-TextFont.ttf') format('truetype');
}

nav {
    position: relative;
    border: solid #890000;
    text-align: center;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.blur-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/bg-new.png);
    background-attachment: fixed;
    filter: blur(3px);
    transform: scale(1.10);
    z-index: -1;
}

#header {
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: url(img/bg-new.png)
}

#nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-btn {
    margin: 0 1vw;
}



.navi {
    position: relative;
    z-index: 1;
    width: 100%;
}

.navi a:hover {
    background-color: #840000;
    transform: scale(1.1);
}

a:hover {
    transform:scale(1.1) ; 
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

li {
    display: inline;
}

a {
    display: inline-block;
    color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    
    font-family: "Persona5Menu";
    font-size: 3vw;
    text-decoration: none;
    transition: 0.1s ease; 
}

.textblock {
    width: 1280px;
    height: 711px;
    margin: 0 auto;
    align-items: center;
}

.textblock-inner {
    max-width: 1250px;
    margin: 0 auto;
    align-items: center;
}

.textblock2 {
    width: 1280px;
    max-height: 711px;
    margin: 0 auto;
    align-items: center;
}

.textblock-inner2 {
    max-width: 1250px;
    margin: 0 auto;
    align-items: center;
}

.container {
    position: relative; /* Add position relative */
    border: solid #ffc758 2px;
    display: flex; /* Set container as flex container */
    justify-content: space-between; /* Align items with space between */
    align-items: center; /* Align items vertically */
    max-width: 1750px; /* Limit container width */
    max-height: 750px;
    margin: 0 auto; /* Center container horizontally */
    padding: 20px; /* Add padding to container */
}

.container::before {
    content: ""; /* Add empty content */
    position: absolute; /* Position the pseudo-element */
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire container */
    height: 100%;
    background-image: url(img/bg-new.png);
    background-attachment: fixed;
    filter: blur(2.5px) brightness(85%); /* Apply blur effect */

    z-index: -1; /* Ensure it's behind the container content */
}


.poster img {
    width: 400px; /* Ensure poster image fits within its container */
    border: solid #ffc758 1px;
}

p {
    font-size: 2.5vw;
    font-family: 'Persona5Text';
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    padding:0;
}

td {
    font-size: 2.5em;
    font-family: 'Persona5Text';
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    padding: 0 ;
    margin: 0 ;
}

.left {
    margin: 0;
    padding-right: 20px;
    padding-bottom: 5px;
    color: #ffc758;
}
table {
    margin-top: 80px;
    vertical-align: middle;
    justify-content: center;
}

.HomePage {
    background: url("img/P5R-Homepage.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    
}

.box {
    position: relative; /* Add position relative */
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
    
}

.box::before {
    content: ""; /* Add empty content */
    position: absolute; /* Position the pseudo-element */
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire box */
    height: 100%;
    background: url("img/StarBG.png") center/cover; /* Specify background image */
    background-attachment: fixed;
    filter: blur(2.5px); /* Apply blur effect */
    z-index: -1; /* Ensure it's behind the content */
}

.box-img {
    margin: 0;
    margin-right: 50px;
    position:relative;
    
}

.box-img img {
    align-items: center;
    height: 799px;
    margin: 0px;
    border: solid black;
}

.box-inner {
    margin-left: 50px;
    padding-bottom: 0px;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}


.box-side {
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.box2 {
    position: relative; /* Add position relative */
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85vh;
    border: solid black 1px;
}

.box2::before {
    content: ""; /* Add empty content */
    position: absolute; /* Position the pseudo-element */
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire box */
    height: 100%;
    background: url("img/StarBG.png") center/cover; /* Specify background image */
    background-attachment: fixed;
    filter: blur(2.5px); /* Apply blur effect */
    z-index: -1; /* Ensure it's behind the content */
}

.box-img2 {
    margin: 0;
    position:relative;
    flex-grow: 1;
    flex-basis: 0;
    overflow: hidden;
    display: grid;
    height: 100%;
    place-items: center;
}

.box-img2 img {
    align-items: center;
    margin: 0px;
    border: solid black;
    object-fit: cover;
    width: 100%;
    position: absolute;
}

.box-inner2 {
    margin-right: 50px;
    padding-bottom: 0px;
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.box3 {
    position: relative; /* Add position relative */
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
    border: solid black;
}

.box3::before {
    content: ""; /* Add empty content */
    position: absolute; /* Position the pseudo-element */
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire box */
    height: 100%;
    background: url("img/StarBG.png") center/cover; /* Specify background image */
    background-attachment: fixed;
    filter: blur(2.5px); /* Apply blur effect */
    z-index: -1; /* Ensure it's behind the content */
}

.box-img3 {
    margin: 0;
    margin-left: 50px;
    position:relative;
   
}

.box-img3 img {
    align-items: center;
    height: 799px;
    margin: 0px;
    border: solid black;
}

.box-inner3 {
    margin-right: 50px;
    padding-bottom: 0px;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 3vw;
    font-family: "Persona5Text";
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}


.OG-container {
    display: flex; /* Make the container a flex container */
    justify-content: flex-end; /* Align child elements to the end of the container (right in LTR languages) */
    align-items: center; /* Center child elements vertically */
    height: 100vh; /* Optionally, set the height of the container to the full viewport height */
}

.OG {
    text-align: center; /* Aligns text content to the right */
    
    width: 40vw;
    margin: 0 auto; /* Center the element horizontally */
}

.OG a {
    font-size: 4.5vw;
}
.OG a:hover {
    transform:scale(1.1);
}




